{erl_opts, [ debug_info
           , warnings_as_errors
           , warn_export_vars
           , warn_unused_import
           ]
}.

{deps, []}.

{dialyzer, [ {warnings, [unknown]}
           , {plt_apps, all_deps}
           ]}.

{xref_checks, [ undefined_function_calls
              , undefined_functions
              , locals_not_used
              , deprecated_function_calls
              , deprecated_functions
              ]}.
